# Main program : analysis of SI_clean.csv

In [43]:
import pandas as pd
import numpy as np

df = pd.read_csv("data/SI_dirty.csv", delimiter=";", encoding="utf-8")

# Searching for non-int value, setting them to NaN
# TODO : set dtype to float
for col in df:
    cpt = 0
    for row in df[col]:
        try:
            float(row)
        except ValueError:
            df.loc[cpt, col]=np.NaN
        cpt+=1
df = df.astype(float)
df.interpolate(axis=0, inplace=True)

# Remove values for days that not exists
months_length = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
for month_cpt, col  in enumerate(df):
    for day_cpt, row in enumerate(df[col]):
        if day_cpt+1 > months_length[month_cpt]:
            df.loc[day_cpt, col]=np.NaN

df
# df["mars"]

,janvier,février,mars,avril,mai,juin,juillet,août,septembre,octobre,novembre,décembre
0,-5.0,-7.0,-7.0,2.0,12.0,17.0,20.0,20.0,16.0,6.0,0.0,-6.0
1,-6.0,-6.0,-8.0,3.0,14.0,16.0,20.0,19.0,14.0,2.0,1.0,-4.0
2,-5.0,-5.0,-5.0,4.0,15.0,17.0,17.0,19.0,15.0,3.0,2.0,-8.0
3,-3.0,-6.0,-3.0,6.0,16.0,14.0,18.0,18.0,13.0,4.0,3.0,-9.0
4,-6.0,-8.0,-2.0,4.0,13.0,15.0,17.0,17.0,12.0,3.0,4.0,-9.0
5,-11.0,-9.0,1.0,5.0,12.0,17.0,17.0,18.0,10.0,2.0,3.0,-9.0
6,-6.0,5.0,2.0,4.0,8.0,17.0,16.0,16.0,12.0,4.0,4.0,-8.0
7,-8.0,-11.0,1.0,6.0,7.0,15.0,17.0,17.0,11.0,3.5,5.0,-4.0
8,-11.0,-12.0,1.0,7.0,6.0,14.0,17.0,15.0,11.0,3.0,5.0,-3.0
9,-8.0,-9.0,2.0,7.0,5.0,14.0,15.0,14.0,12.0,4.0,-1.0,-8.0
10,-8.0,-6.0,1.0,8.0,5.0,14.0,15.0,14.0,10.0,2.0,-2.0,-9.0
11,-8.0,-5.0,3.0,8.0,6.0,13.0,16.0,15.0,10.0,1.0,-1.0,-5.0
12,-8.0,-4.0,5.0,9.0,8.0,11.0,16.0,15.0,9.0,3.0,-7.0,-6.0
13,-10.0,1.0,5.0,10.0,10.0,14.0,13.0,15.0,9.0,3.0,-8.0,-7.0
14,-10.0,3.0,7.0,8.0,12.0,15.0,14.0,48.0,10.0,3.0,-5.0,-11.0
15,-9.0,-9.0,4.5,8.0,13.0,15.0,-6.0,18.0,11.0,1.0,-3.0,-6.0
16,-6.0,-6.0,2.0,9.0,14.0,15.0,15.0,19.0,10.0,4.0,-2.0,-8.0
17,-6.0,-6.0,-1.0,11.0,13.0,17.0,15.0,21.0,10.0,6.0,1.0,-11.0
18,-4.0,-4.0,-2.0,10.0,15.0,16.0,15.0,24.0,9.0,6.0,2.0,-8.0
19,-8.0,2.0,-1.0,11.0,15.0,19.0,17.0,21.0,11.0,6.0,1.0,-8.0
20,-9.0,3.0,0.0,12.0,15.0,20.0,18.0,21.0,12.0,7.0,0.0,-33.0
21,-14.0,1.0,1.0,9.0,18.0,19.0,19.0,26.0,12.0,7.0,0.0,-6.0
22,-15.0,-3.0,2.0,7.0,18.0,20.0,21.5,17.0,10.0,6.0,1.0,-8.0
23,-17.0,-4.0,3.0,8.0,16.0,22.0,24.0,18.0,11.0,6.0,3.0,-9.0
24,-19.0,-6.0,4.0,8.0,15.0,22.0,23.0,17.0,10.0,6.0,5.0,-5.0
25,-23.0,-8.0,3.0,6.0,16.0,21.0,26.0,17.0,9.0,4.0,-2.0,-6.0
26,-8.0,-8.0,4.0,9.0,16.0,22.0,26.0,16.0,6.0,3.0,-3.0,-7.0
27,-9.0,-11.0,5.0,11.0,17.0,21.0,21.0,17.0,7.0,3.0,-6.0,-8.0
28,-5.0,NaN,5.0,14.0,16.0,21.0,22.0,17.0,7.0,4.0,-6.0,-6.0
29,-6.0,NaN,3.0,16.0,17.0,17.0,23.0,18.0,6.0,2.0,-4.0,-7.0
30,-7.0,NaN,3.0,NaN,17.0,NaN,21.0,17.0,NaN,1.0,NaN,-5.0

## Moyenne de température par mois

In [2]:
df.mean()

janvier      -8.967742
février      -4.928571
mars          1.133333
avril         8.000000
mai          12.903226
juin         17.103448
juillet      17.566667
août         18.838710
septembre    10.500000
octobre       3.833333
novembre     -0.333333
décembre     -7.967742
dtype: float64

## Minimum de température par mois

In [3]:
df.min()

janvier     -23.0
février     -12.0
mars         -8.0
avril         2.0
mai           5.0
juin         11.0
juillet      -6.0
août         14.0
septembre     6.0
octobre       1.0
novembre     -8.0
décembre    -33.0
dtype: float64

## Minimum de température dans l'année

In [4]:
df.min().min()

-33.0

## Maximum de température par mois

In [5]:
df.max()

janvier      -3.0
février       5.0
mars          7.0
avril        16.0
mai          18.0
juin         22.0
juillet      26.0
août         48.0
septembre    16.0
octobre       7.0
novembre      5.0
décembre     -3.0
dtype: float64

## Maximum de température dans l'année

In [6]:
df.min().min()

-33.0

## Ecart type de température par mois

In [7]:
df.std()

janvier      4.490611
février      4.561746
mars         3.549972
avril        3.151354
mai          4.036127
juin         3.039559
juillet      5.667106
août         6.044815
septembre    2.330458
octobre      1.821014
novembre     3.717000
décembre     5.029804
dtype: float64