# Main program : analysis of SI_clean.csv

In [11]:
import pandas as pd
import numpy as np

df = pd.read_csv("data/SI_dirty.csv", delimiter=";", encoding="utf-8")

# Searching for non-int value, setting them to NaN
# TODO : set dtype to float
for col in df:
    cpt = 0
    for row in df[col]:
        try:
            float(row)
        except ValueError:
            df.loc[cpt, col]=np.NaN
        cpt+=1

df
df["mars"]

0      -7
1      -8
2      -5
3      -3
4      -2
5       1
6       2
7       1
8       1
9       2
10      1
11      3
12      5
13      5
14      7
15    NaN
16      2
17     -1
18     -2
19     -1
20      0
21      1
22      2
23      3
24      4
25      3
26      4
27      5
28      5
29      3
30      3
Name: mars, dtype: object

## Moyenne de température par mois

In [2]:
df.mean()

janvier      -8.967742
février      -4.928571
avril         8.000000
mai          12.903226
août         18.838710
septembre    10.500000
novembre     -0.333333
décembre     -7.967742
dtype: float64

## Minimum de température par mois

In [3]:
df.min()

janvier     -23.0
février     -12.0
avril         2.0
mai           5.0
août         14.0
septembre     6.0
novembre     -8.0
décembre    -33.0
dtype: float64

## Minimum de température dans l'année

In [4]:
df.min().min()

-33.0

## Maximum de température par mois

In [5]:
df.max()

janvier      -3.0
février       5.0
avril        16.0
mai          18.0
août         48.0
septembre    16.0
novembre      5.0
décembre     -3.0
dtype: float64

## Maximum de température dans l'année

In [6]:
df.min().min()

-33.0

## Ecart type de température par mois

In [7]:
df.std()

janvier      4.490611
février      4.561746
avril        3.151354
mai          4.036127
août         6.044815
septembre    2.330458
novembre     3.717000
décembre     5.029804
dtype: float64